<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST" class="login">
        {% csrf_token %}
        <h1>Prihlaseni</h1>
        <input type="text" placeholder="Cele jmeno" class="form-control" name="username" aria-describedby="emailHelp">
        <input type="password" placeholder="Heslo" class="form-control" name="password">
        <button type="submit" value="PŘIHLÁSIT SE">Přihlásit se</button>
    </form>
</body>
</html>