<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Přihlášení</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!-- Pokud používáš externí CSS -->
</head>
<body>

    <div class="container" name="messages">
        {% if messages %}
          {% for msg in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              {{msg}}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        {% endif %}
      </div>

    <form action="" method="POST" class="login">
        {% csrf_token %}
        <h1>Přihlášení</h1>

        <!-- Input pro uživatelské jméno -->
        <input type="text" placeholder="Username" class="form-control" name="username" aria-describedby="emailHelp">

        <!-- Input pro heslo -->
        <input type="password" placeholder="Password" class="form-control" name="password">

        <!-- Tlačítko pro přihlášení, které je deaktivováno, pokud nejsou vyplněna pole -->
        <button type="submit" value="PŘIHLÁSIT SE">Přihlásit se</button>
        <p>Vytvorit ucet <a href="/tvorba-uctu">TADY</a></p>
    </form>

    <!-- Připojení JavaScriptu pro validaci a interaktivitu -->
    <script src="{% static 'js/login.js' %}"></script>
</body>
</html>
